<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col>
        <div>
          <form [formGroup]="form">
            <ion-list style="background-color: transparent;" lines="full" class="ion-no-margin ion-no-padding">

              <ion-list>
                <ion-list-header>
                  Categorías
                  <ion-badge color="primary">?</ion-badge>
                </ion-list-header>

                <ion-item-group>
                  <ion-item>
                    <ion-label>País de categorías</ion-label>
                    <ion-select formControlName="country">
                      <ion-select-option value="CO">Colombia</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Año inicio</ion-label>
                    <ion-select formControlName="yearS">
                      <ion-select-option value="0">Todos</ion-select-option>
                      <ion-select-option *ngFor="let y of years" value="{{y}}">{{y}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                  <ion-item>
                    <ion-label>Año fin</ion-label>
                    <ion-select formControlName="yearE">
                      <ion-select-option value="0">Todos</ion-select-option>
                      <ion-select-option *ngFor="let y of years" value="{{y}}">{{y}}</ion-select-option>
                    </ion-select>
                  </ion-item>
                </ion-item-group>
                <br>
                <ion-list-header>
                  Otros
                </ion-list-header>
                <ion-item-group>
                  <ion-item class="option" [routerLink]="['./suggestion']">   
                    <ion-label>Sugerir palabra</ion-label>
                  </ion-item>
                </ion-item-group>
              </ion-list>
              
            </ion-list>

            <div class="ion-padding">
              <ion-button expand="block" class="ion-no-margin" (click)="updateUserParams()">
                Guardar
              </ion-button>
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>