<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col>
        <div>
          <form [formGroup]="form">
            <ion-list style="background-color: transparent;" lines="full" class="ion-no-margin ion-no-padding">
              <!--<ion-item>
                <ion-label position="floating">País de Residencia <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-select interface="popover" formControlName="country" required> 
                  <ion-select-option value="CO">Colombia</ion-select-option>
                  <ion-select-option value="US">Estados Unidos</ion-select-option>
                </ion-select>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.country)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.country)"></app-field-error-display>
              </ion-item>
            -->

              <ion-item>
                <ion-label position="floating">Fecha de Nacimiento <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-datetime displayFormat="MMM DD YYYY" formControlName="birthDate" required></ion-datetime>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.birthDate)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.birthDate)"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" formControlName="email" required></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.email)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.email, 'email')"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" formControlName="password" minlength="6" maxlength="20" required></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.password)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.password, 'password')"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Confirmar contraseña <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" formControlName="confirmPassword"></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.confirmPassword)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.confirmPassword)"></app-field-error-display>
              </ion-item>
              <ion-item>
                <ion-label>valid: {{form.valid}}</ion-label>
              </ion-item>
            </ion-list>
           
            <div class="ion-padding">
              <ion-button expand="block" (click)="signUp()" class="ion-no-margin">
                Registrarse
              </ion-button>
              
            </div>
          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>