ion-grid {
    height: 100%;
    margin: 0 5px;
}

.a-register {
    text-align: center;
}

.resend {
    color: black;
}

.resend u {
    color: #F22C6E;
    cursor: pointer;
}

.imgProfile {
    margin-bottom: 40px;
}