.countdown{
    font-size: 64px;
    font-family: 'pangolin-regular' !important;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'pangolin-regular' !important;
}

.ion-padding {
    height: 100%;
}

ion-grid {
    height: 100%;
}