.countdown{
    font-size: 40px;
    font-family: 'pangolin-regular' !important;
}

.title {
    font-size: 48px;
    margin-bottom: 20px;
    font-family: 'pangolin-regular' !important;
}

.ion-padding {
    height: 100%;
}

ion-grid {
    height: 100%;
    margin: 0 5px;
}

.box {
    border: 1px solid #5C4DB1;
}