<!--
<ion-grid *ngIf="maxTimeIntro === 0" style="width: 100%">
  <ion-row justify-content-center align-items-center>
      <ion-list>
        <ion-item justify-content-center align-items-center>
          <ion-label justify-content-center align-items-center class="countdown" fixed>{{maxTimeBoard}}</ion-label>
        </ion-item>
      </ion-list>
  </ion-row>
  <ion-row justify-content-center align-items-center style="height: 50%">
    <ion-card style="width: 100%">
      <ion-card-header>
        <ion-card-subtitle>La palabra es:</ion-card-subtitle>
        <ion-card-title>{{palabraEnTablero}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
        <ion-button type="button" expand="block" color="success" (click)="cambiarPalabra('correcto')">Correcto</ion-button>
        <ion-button type="button" expand="block" color="danger" (click)="cambiarPalabra('pasar')">Paso</ion-button>
      </ion-card-content>
    </ion-card>
  </ion-row>
</ion-grid>
-->

<ion-header>
  <ion-toolbar color="primary">
    <ion-title>¡hey adivinen!</ion-title>
    <ion-buttons slot="start">
      <ion-button class="dps-conts">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button class="dps-conts" (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col style="align-self: center">
        <div class="ion-padding">
          <!--  COUNT  -->
          <ion-grid *ngIf="maxTimeIntro > 0">
            <ion-row class="jst-cnt-cen">
              <ion-label class="title" fixed>¿Listos?</ion-label>
            </ion-row>
            <ion-row class="jst-cnt-cen">
              <ion-label class="countdown" fixed>{{maxTimeIntro}}</ion-label>
            </ion-row>
          </ion-grid>
           <!--  GAME  -->
          <ion-grid *ngIf="maxTimeIntro === 0">
            <ion-row class="jst-cnt-cen">
              <ion-label class="countdown" fixed>{{maxTimeBoard}}</ion-label>
            </ion-row>
            
            <ion-row class="hg-50p">
              <ion-card class="wd-100p">
                <ion-card-header>
                  <ion-card-subtitle>La palabra es:</ion-card-subtitle>
                  <ion-card-title>{{wordOnBoard}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button type="button" expand="block" color="success" (click)="changeWord('correct')">Correcto</ion-button>
                  <ion-button type="button" expand="block" color="danger" (click)="changeWord('pass')">Paso</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>