
<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col style="align-self: center">
        <div class="ion-padding">
          <!--  COUNT  -->
          <ion-grid *ngIf="maxTimeIntro > 0">
            <ion-row class="jst-cnt-cen">
              <ion-label class="title" fixed>¿Listos?</ion-label>
            </ion-row>
            <ion-row class="jst-cnt-cen">
              <ion-label class="countdown" fixed>{{maxTimeIntro}}</ion-label>
            </ion-row>
          </ion-grid>
           <!--  GAME  -->
          <ion-grid *ngIf="maxTimeIntro === 0">
            <ion-row class="jst-cnt-cen">
              <ion-label class="countdown" fixed>{{maxTimeBoard}}</ion-label>
            </ion-row>
            
            <ion-row class="hg-50p">
              <ion-card class="wd-100p box">
                <ion-card-header>
                  <ion-card-subtitle>La palabra es:</ion-card-subtitle>
                  <ion-card-title>{{wordOnBoard}}</ion-card-title>
                </ion-card-header>
                <ion-card-content>
                  <ion-button type="button" expand="block" color="success" (click)="changeWord('correct')">Correcto</ion-button>
                  <ion-button type="button" expand="block" color="danger" (click)="changeWord('pass')">Paso</ion-button>
                </ion-card-content>
              </ion-card>
            </ion-row>
          </ion-grid>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>