<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Contacto</ion-title>
    <ion-buttons slot="start">
      <ion-button class="dps-conts">
        <ion-icon name="person-circle-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
    <ion-buttons slot="primary">
      <ion-button class="dps-conts" (click)="logOut()">
        <ion-icon name="log-out-outline"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col>
        <div>
          <form [formGroup]="form">
            <ion-list style="background-color: transparent;" lines="full" class="ion-no-margin ion-no-padding">

              <ion-item>
                <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" formControlName="email"></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.email)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.email)"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Asunto <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="subject"></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.subject)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.subject)"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Mensaje <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-textarea formControlName="message" required rows="4"></ion-textarea>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.message)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.message)"></app-field-error-display>
              </ion-item>
            </ion-list>

            <div class="ion-padding">
              <ion-button expand="block" (click)="sendMessage()" class="ion-no-margin">
                Enviar mensaje
              </ion-button>
              <ion-button color="success" expand="block" target="_blank" 
              href="https://api.whatsapp.com/send?phone=573002050466" class="ion-no-margin">
                También tenemos
                <ion-icon slot="end" name="logo-whatsapp"></ion-icon>
              </ion-button>
            </div>

          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>