<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col>
        <div class="ion-padding">
          <p>
            <ion-label class="a-register">
              La categoria <b>{{objCategory.description || 'que elegiste '}}</b> consiste en hacer solamente mímicas para que tus compañeros descubran la palabra. No
              puedes hablar, ni hacer letras con las manos ni señalar. Espero que <b>¡hey adivinen!</b>.
            </ion-label>
          </p>

          <div class="ion-padding">
            <ion-button class="ion-no-margin" type="button" expand="block" (click)="showBoard()">Jugar</ion-button>
            <ion-button color="light" class="ion-no-margin" type="button" expand="block" (click)="goToBack()">Atrás</ion-button>
          </div>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>