.total{
    font-weight: bold;
    font-size: 22px;
}

ion-grid {
    height: auto;
    margin: 10px 5px 0 5px;
}

.boxbt {
    border-bottom: 2px solid #5C4DB1;
    
}

.col-pt {
    border-left: 2px solid #5C4DB1;
    text-align: center;
}
