<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col>
        <div>
          <form [formGroup]="form">
            <ion-list style="background-color: transparent;" lines="full" class="ion-no-margin ion-no-padding">



              <ion-item>
                <ion-label position="floating">Categoria <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="text" formControlName="category"></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.category)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.category)"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Palabra(s) <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-textarea formControlName="words" required rows="4"></ion-textarea>
                
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.words)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.words)"></app-field-error-display>
                  
              </ion-item>
              <ion-item>
                <ion-text class="txt-small" color="default">si son varias palabras, separar por comas</ion-text>
              </ion-item>
              
            </ion-list>

            <div class="ion-padding">
              <ion-button expand="block" (click)="sendSuggestion()" class="ion-no-margin">
                Enviar sugerencia
              </ion-button>
            </div>

          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>