ion-col{
    text-align: center;
    color: white;
}
ion-icon{
    font-size: 32px;
}

ion-grid {
    height: auto;
    margin: 10px 5px 0 5px;
}

h5{
    margin-top: 10px;
}

.mt10{
    margin-top: 10px;
}

.fs16{
    font-size: 16px;
}

.img-ctg {
    height: 120px;
    background-color: #EDF22C;
    border-radius: 10px;
}

.grid-ctg {
    max-height: 100%;
}

.col-icon-ctg {
    height: 30%;
    cursor: pointer;
}

.img-icon {
    width: 50%;
    height: 80px;
}

.bg-curve {
    padding-top: 0;
}

.icon-mini {
    color:black
}