ion-col{
    text-align: center;
    color: white;
}
ion-icon{
    font-size: 32px;
}

ion-grid {
    height: 100%;
}

h5{
    margin-top: 10px;
}

.mt10{
    margin-top: 10px;
}

.fs16{
    font-size: 16px;
}

.img-ctg {
    background-image: url('../../../../assets/img/img-example.svg');
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.grid-ctg {
    max-height: 100%;
}

.col-icon-ctg {
    height: 30%;
    cursor: pointer;
}