/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'pangolin-regular';
    src: url('assets/font/Pangolin-Regular.woff') format('woff');
}

@font-face {
    font-family: 'roboto-thin';
    src: url('assets/font/Roboto-Thin.woff') format('woff');
}

@font-face {
    font-family: 'roboto-light';
    src: url('assets/font/Roboto-Light.woff') format('woff');
}

@font-face {
    font-family: 'roboto-regular';
    src: url('assets/font/Roboto-Regular.woff') format('woff');
}

ion-label {
    font-family: 'roboto-light' !important;
    color: black;
    font-weight: bold;
}

ion-title {
    font-family: 'pangolin-regular' !important;
    font-size: 22px;
}

ion-button {
    font-family: 'roboto-regular' !important;
    font-size: 18px;
    font-weight: 600;
    margin-top: 20px !important;
}

ion-item {
    margin: 0px 20px 0px 20px;
}

ion-grid {
    padding: 0;
}

ion-content {
    height: 100%;
}

.bg-curve {
    padding-top: 20px;
    border-radius: 20px 20px 0px 0px;
    background-color: white;
    margin: 0;
    box-shadow: 2px -2px 16px 0px rgba(0,0,0,0.75);
}

.hg-10p{
    height: 10%;
}

.hg-90p{
    height: 90%;
}

.hg-100p{
    height: 100%;
}

.alg-self-cnt {
    align-self: center;
}

.alg-self-cnt ion-label {
    font-family: 'pangolin-regular' !important;
}

.dps-conts {
    display: contents;
}
