<ion-tabs>
  <!--{{user | json}}-->
  <ion-tab-bar slot="bottom">
   <ion-tab-button tab="home" *ngIf="user && user.uid !== undefined; else menuElse">
      <ion-icon name="home"></ion-icon>
      <ion-label>Inicio</ion-label>
    </ion-tab-button>
    <ng-template #menuElse>
      <ion-tab-button tab="login">
        <ion-icon name="log-in-outline"></ion-icon>
        <ion-label>Inicio</ion-label>
      </ion-tab-button>
    </ng-template>
    

    <ion-tab-button tab="settings" (click)="prueba()">
      <ion-icon name="settings"></ion-icon>
      <ion-label>Ajustes</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="contact">
      <ion-icon name="send"></ion-icon>
      <ion-label>Contacto</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
