<ion-header>
  <ion-toolbar color="primary">
    <ion-title>Bienvenido</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="primary">
  <ion-grid class="ion-align-items-center">
    <ion-row class="hg-10p"></ion-row>
    <ion-row class="bg-curve hg-90p">
      <ion-col>
        <div>
          <form [formGroup]="form">
            <ion-list style="background-color: transparent;" lines="full" class="ion-no-margin ion-no-padding">
              <ion-item>
                <ion-label class="a-register">Aquí va un logo</ion-label>
              </ion-item>
              <ion-item>
                <ion-label position="floating">Correo <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="email" formControlName="email" required></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.email)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.email)"></app-field-error-display>
              </ion-item>

              <ion-item>
                <ion-label position="floating">Contraseña <ion-text color="danger">*</ion-text>
                </ion-label>
                <ion-input required type="password" formControlName="password" required></ion-input>
                <app-field-error-display [displayError]="validatorComponent.isFieldInvalid(form.controls.password)"
                  [errorMsg]="validatorComponent.getFieldError(form.controls.password)"></app-field-error-display>
              </ion-item>
            </ion-list>

            <div class="ion-padding">
              <ion-button expand="block" (click)="signIn()" class="ion-no-margin">
                Iniciar Sesión
              </ion-button>
            </div>

            <div class="ion-padding a-register">
              <a [routerLink]="['/register']">Registrarse con Gmail</a>
            </div>

            <div class="ion-padding a-register">
              <a [routerLink]="['/register']">Registrarse con Facebook</a>
            </div>

            <div class="ion-padding a-register">
              <a [routerLink]="['/register']">Registro manual</a>
            </div>

          </form>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>