ion-grid {
    height: 100%;
    margin: 0 5px;
}

.a-register {
    text-align: center;
}

.logo {
    margin-left: auto;
    margin-right: auto;
    width: 210px;
}

.resend {
    color: black;
}

.resend u {
    color: #F22C6E;
    cursor: pointer;
}